*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFEFEF;
  color:white;
  font-size: 22px;
}

#container{
  display:grid;
  border: px solid red;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: calc(45.33vh - 10px) calc(3.33vh - 10px) calc(33.33vh - 10px);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

#container .celda1{
  padding: 25px;
  background-color:#21e6ec;
  border-radius: 5px;

}

#container .celda2{
  padding: 40px;
  background-color:#5993c3;
  border-radius: 5px;
}

ul:hover{
  color: coral;
}
ol:hover{
  color: firebrick;
}